<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/footer.css">
    <script src="https://kit.fontawesome.com/e66766ab36.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="header">
        <div class="main-header1">
            <img src="/images/logo-mercado-liebre.svg" class="logo">
            <div class="formulario">
                <form action="producto" method="get">
                    <div class="barra_busq">
                        <i class="fas fa-search"></i>
                        <input type="text" name="search" id="search">
                        <button type="submit">Buscar</button>
                    </div>
                </form>
            </div>
            <div class="main-header2">
                <h2 class="copy-header">
                    <i class="fas fa-hand-holding-usd"></i>
                    Compra en cuotas y sin tarjeta de credito
                </h2>
            </div>
        </div>

        <div class="main-header3">
            <nav class="main-nav">
                <ul class="left-navbar">
                    <li><a href="#"></a>Oferta</li>
                    <li><a href="#"></a>Tienda</li>
                    <li><a href="#"></a>Vender</li>
                    <li><a href="#"></a>Ayuda</li>
                </ul>

                <ul class="right-navbar">
                    <li><a href="/register">Crea tu cuenta</a> <i class="far fa-address-card"></i></li>
                    <li><a href="#">Ingreza</a> <i class="fas fa-sign-out-alt"></i></li>
                    <li><a href="/login">Ingreza </a><i class="fas fa-shopping-basket"></i></li>
        
                </ul>
            </nav>
            <a href="#" class="hambur-botton">
                <i class="fas fa-bars"></i>
            </a>
        </div>
    </header>

    <img class="banner" src="images/img-home-banner.jpg" alt="Banner de ofertas">


    <main>
        <div class="visitas">
            <!-- <h3>Basado en tu última visitas</h3> -->
            <!-- <div class="products"> -->
            <div class="main-article">
                <img src="images/img-cafetera-moulinex.jpg" alt="Cafetera" class="product_img">
                <div class="texto">
                    <i class="fas fa-truck"></i>
                    <hr>
                    <p class="price">$6.770</p>
                    <p class="discount">Stock</p>
                    <h4 class="description">Cafetera Moulinex</h4>
                </div>
            </div>
            <div class="main-article">
                <img src="images/img-macbook-pro-2019.jpg" alt="MacBook" class="product_img">
                <div class="texto">
                    <i class="fas fa-truck"></i>
                    <hr>
                    <p class="price">$230.000</p>
                    <p class="discount">20% off</p>
                    <h4 class="description">MacBook Pro 2019</h4>
                </div>
            </div>
            <div class="main-article">
                <img src="images/img-samsung-galaxy-s10.jpg" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                <div class="texto">
                    <i class="fas fa-truck"></i>
                    <hr>
                    <p class="price">$70.500</p>
                    <p class="discount">10% off</p>
                    <h4 class="description">Samsung Galaxy S10</h4>
                </div>
            </div>
            <div class="main-article">
                <img src="images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung" class="product_img">
                <div class="texto">
                    <i class="fas fa-truck"></i>
                    <hr>
                    <p class="price">$23.200</p>
                    <p class="discount">5% off</p>
                    <h4 class="description">SmartTv Samsung 43"</h4>
                </div>
            </div>
            <!-- </div> -->

            <!--  -->
            <!-- <h3>Ofertas</h3> -->
            <!-- <div class="products"> -->
            <div class="main-article">
                <img src="images/img-cafetera-moulinex.jpg" alt="Cafetera" class="product_img">
                <div class="texto">
                    <i class="fas fa-truck"></i>
                    <hr>
                    <p class="price">$6.770</p>
                    <p class="discount">40% off</p>
                    <h4 class="description">Cafetera Moulinex</h4>
                </div>
            </div>
            <div class="main-article">
                <img src="images/img-macbook-pro-2019.jpg" alt="MacBook" class="product_img">
                <div class="texto">
                    <i class="fas fa-truck"></i>
                    <hr>
                    <p class="price">$230.000</p>
                    <p class="discount">20% off</p>
                    <h4 class="description">MacBook Pro 2019</h4>
                </div>
            </div>
            <div class="main-article">
                <img src="images/img-samsung-galaxy-s10.jpg" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                <div class="texto">
                    <i class="fas fa-truck"></i>
                    <hr>
                    <p class="price">$70.500</p>
                    <p class="discount">10% off</p>
                    <h4 class="description">Samsung Galaxy S10</h4>
                </div>
            </div>
            <div class="main-article">
                <img src="images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung" class="product_img">
                <div class="texto">
                    <i class="fas fa-truck"></i>
                    <hr>
                    <p class="price">$23.200</p>
                    <p class="discount">5% off</p>
                    <h4 class="description">SmartTv Samsung 43"</h4>
                </div>
            </div>
            <!-- </div> -->
        </div>
    </main>
    <footer>
        <div class="pie-pagina">
            <div class="pago">
                <i class="fas fa-credit-card"></i>
                <h1>Pagá con tarjeta o en efectivo</h1>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                    siempre
                    es seguro!</p>
            </div>

            <div class="envio-gratis">
                <i class="fas fa-archive"></i>
                <h1>Envío gratis desde $ 2.500</h1>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un
                    beneficio
                    de Mercado Puntos.</p>
            </div>

            <div class="seguridad">
                <i class="fas fa-user-shield"></i>
                <h1> Seguridad, de principio a fin</h1>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                    protegid@.</p>
                <p>Copyright © 1999-2020 MercadoLiebre S.R.L</p>
            </div>

        </div>
    </footer>
</body>

</html>