<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/footer.css">
</head>

<body>
    <header>
        <div class="logo">
            <img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
        </div>
    </header>
    <main>
        <form method="get" class="create-form">
            <div class="nombre">
                <input type="text" name="nombre" id="nombre" placeholder="Nombre de Usuario" required>
            </div>
            <br>
            <div class="password">
                <input type="password" name="password" id="password" placeholder="Elegi tu Contraseña" required>
            </div>
            <br>
            <div class="Enviar">
                <button type="submit" value="Enviar">
                    <a href="/home">Enviar</a>
                </button>
            </div>
        </form>
    </main>
    <footer>
        <div class="pie-pagina">
            <div class="pago">
                <i class="fas fa-credit-card"></i>
                <h1>Pagá con tarjeta o en efectivo</h1>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                    siempre
                    es seguro!</p>
            </div>

            <div class="envio-gratis">
                <i class="fas fa-archive"></i>
                <h1>Envío gratis desde $ 2.500</h1>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un
                    beneficio
                    de Mercado Puntos.</p>
            </div>

            <div class="seguridad">
                <i class="fas fa-user-shield"></i>
                <h1> Seguridad, de principio a fin</h1>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                    protegid@.</p>
                <p>Copyright © 1999-2020 MercadoLiebre S.R.L</p>
            </div>

        </div>
    </footer>
</body>

</html>