footer {
    display: flex;
    justify-content: center;
    background-color: white;
    margin: 10px auto;
}

footer div {
    text-align: center;
    padding: 10px;
}

footer div i {
    color: #1259c3;
    font-size: 2rem;
}

footer div h1 {
    font-size: 16px;
}

footer div p {
    font-size: 12px;
}