* {
    box-sizing: border-box;

}

body {
    font-family: 'Roboto', sans-serif;
}


h2 {
    font-size: 24px;

}

h3 {
    font-size: 24px;
}

p .price {
    font-size: 18px;
}

p {
    font-size: 16px;
}

h4 {
    font-size: 16px;
}

hr {
    background-color: #39b54a;
    width: 75%;

}

.logo {
    width: 10%;
}

header {
    background-color: #EAC926;
    width: 100%;
    display: grid;
    justify-content: space-around;
    width: 100%;
    padding-bottom: 5px;
    position: fixed;
    top: 0;

}

.main-header1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

header .formulario {
    display: flex;
    align-items: center;

}

header form .barra_busq {
    width: auto;
    background-color: white;
    padding: 5px 10px;
    border-radius: 10px;

}

header form input {
    border: none;
}

header form button {
    border: none;
    opacity: 25%;
}

header form i {
    border: none;
    opacity: 25%;
}
.right-navbar  li a {
    color: black;
    list-style-type: none;
    transform: none;
    padding: 0;
    margin: 0;
}

header .hambur-botton {
    background-color: rgb(1, 1, 136);
    color: white;
    width: 50px;
    padding: 14px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 20px;
    margin: auto;

    display: none;
}

/* main */
main {
    background-color: #ebebeb;
    margin: 5%;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 10px #d4cece;

}

.main-nav {

    display: flex;
    justify-content: space-between;
}

.main-nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;

}

.main-nav li {
    padding: 0 10px;
}

.main-nav a {
    color: #ebebeb;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}



.banner {
    width: 100%;

}

.visitas img {
    width: 100%;
}

div .main-article {

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin: auto;
    width: 50%;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 10px #d4cece;
}

main .visitas {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 50px;
    padding: 30px;
}

div .texto {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 5px;

}

.visitas i {
    border: 2px solid #39b54a;
    padding: 10px;
    border-radius: 100%;
    position: static;
    left: 10px;
    top: 50px;
    color: #39b54a;
}


@media (max-width:500px) {
    header {
        width: 100%;
    }

    .logo {
        width: 100%;
    }

    form {
        border: 2px solid tomato;
        display: none;
    }

    header .hambur-botton {
        display: block;
    }

    .main-header2 {
        border: 2px solid red;

        display: none;
    }

    .main-nav {
        display: none;
    }

    main .visitas {
        width: 100%;
        display: block;
        margin: auto;

    }

    div .main-article {
        width: 100%;
        margin: 10px;
    }
}